allow init cgroup:file create;
allow init hal_vr_default:process noatsecure;
allow init hal_bootctl_default:process noatsecure;
allow init hal_keymaster_default:process noatsecure;
allow init hal_wifi_supplicant_default:process noatsecure;
allow init proc:file setattr;
allow init qti_init_shell:process noatsecure;
allow init recovery_refresh:process noatsecure;
