allow system_app bg_boot_complete_prop:file read;
allow system_app bg_daemon_prop:file read;
allow system_app ctl_console_prop:file read;
allow system_app fs_bpf:dir search;
allow system_app perfprofd:binder call;
allow system_app proc_pagetypeinfo:file read;
allow system_app sysfs_zram:dir search;
allow system_app wificond:binder call;
